<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="head::head('Your Favorites')"></div>
<link rel="stylesheet" th:href="@{/css/input.css}">
<link rel="stylesheet" th:href="@{/css/console.css}">

<body>

<nav th:replace="navbar::navbar"></nav>

<div class="row d-flex text-center justify-content-center">
    <div class="col-6">
        <h1>Your Favorites</h1>
        <div class="mt-2" th:if="${deleted}" th:text="'Wine Removed from List'"></div>
        <div class="mt-2" th:if="${noExist}" th:text="'Wine Id not found on your Favorites list'"></div>
    </div>
</div>
<div class="selectContainer container mt-3 mb-5">
    <div class="login-box">
        <span>Remove From Favorites</span>
        <form action="#" th:action="@{/user/favoriteRemove}" th:object="${wine}" method="post">
            
            <div>
                <div class="form-floating">
                    <input type="text" th:field="*{id}" placeholder="Wine Id" id="wineId" class="login form-control" required>
                    <label for="wineId" class="labelText">Wine Id</label>
                </div>
            </div>

            <button type="submit" value="Update" id="update" class="mt-4 mb-1 button">Remove</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="resultContainer container mb-5">
        <div class="backFade" id="resultTarget"></div>
        <div class="row d-flex align-items-center justify-content-center flex-wrap pageNumbers" id="pagination">
            <h4 class="mt-2">Your Favorites:</h4>
            <ul th:each="wine : ${favorites}">
                <li>
                    <a class="resultLink" th:href="@{/wine_information(wineId=${wine.getId})}" th:text="'ID: ' + ${wine.id} + '  ' + ${wine.producer} + ' ' + ${wine.name} + ' ' + ${wine.vintage} + ' ' + ${wine.region} + ' $' + ${wine.price}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="footer::footer"></div>
<script type="text/javascript" th:src="@{/js/pagination.js}"></script>

</body>
</html>