<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="head::head('Error')"></div>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<nav th:replace="navbar::navbar"></nav>
<div class="row">
    <div class="col-6 mx-auto d-flex flex-column text-center align-items-center">
        <h1>OOPS</h1>
        <h3 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h3>
        <img src="https://c.tenor.com/yCC38OsGnSsAAAAM/sportsmanias-technical-difficulties.gif" alt="page not available error"></img>
        <a href="index.html" th:href="@{/index}">Back to Home Page</a>
    </div>
</div>

<div th:replace="footer::footer"></div>
</body>