<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="head::head('Login Success')"></div>

<body>
<nav th:replace="navbar::navbar"></nav>

<div class="row">
  <div class="col text-center">
    <h1 class="mb-5">Login Successful</h1>
    <h3 th:text="'Welcome back ' + ${name} + '!'"></h3>
    <a th:href="@{/user/accountHome}"><button id="return" class="mt-5 mb-1 button login">Account Home</button></a>
  </div>
</div>

<div th:replace="footer::footer"></div>

</body>
</html>