<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="head::head('Login Page')"></div>
<link rel="stylesheet" th:href="@{/css/input.css}">
<style>
    #username {
        margin-top: 1.3rem;
    }
</style>

<body>

<nav th:replace="navbar::navbar"></nav>


<div class="row d-flex text-center justify-content-center">
    <div class="col-4">
        <h1>Login</h1>
    </div>
</div>
<div class="container mb-5">
    <div class="user-icon"><i class="fas fa-user"></i></div>
    <div class="login-box">
        <span>User Login</span>
        <form action="#" th:action="@{/login}" th:object="${user}" method="post">
            <div class="form-floating">
                <input type="text" th:field="*{username}" name="username" placeholder="User Name" id="username" class="login form-control" required>
                <label for="username" class="labelText">Username</label>
<!--            <span th:if="${#fields.hasErrors('username')}" th:errors="*{email}" class="errorText"></span>-->
<!--            <div><span th:if="${notRegister}"  th:text="${notRegister}" class="errorText"></span></div>-->
            </div>
            <div class="form-floating">
                <input type="password" th:field="*{password}" name="password" placeholder="Password" class="login form-control" id="password" required><br/>
                <label for="password" class="labelText">Password</label>
<!--            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errorText"></span>-->
<!--            <div><span th:if="${invalid}"  th:text="${invalid}" class="errorText"></span></div>-->
            </div>
            <button type="submit" value="Login" id="login" class="mt-2 mb-1 button login">Login</button>
        </form>
        <div th:if="${param.error}">
            <span th:text="${loginError}" class="errorText"></span>
        </div>
        <div class="flexContainer" >
            <a href="#" class="mb-3 mt-4">Forgot your password</a>
        </div>
        <div class="flexContainer">
            <a th:href="@{register}">Register account</a>
          </div>
        </div>
    </div>


<div th:replace="footer::footer"></div>

    </body>
</html>