<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="head::head('User Registration')"></div>
<link rel="stylesheet" th:href="@{/css/input.css}">

<body>

<nav th:replace="navbar::navbar"></nav>

<div class="row d-flex text-center justify-content-center">
    <div class="col-4">
        <h1>Register</h1>
    </div>
</div>
<div class="container register mb-5">
    <div class="user-icon"><i class="fas fa-user"></i></div>
    <div class="login-box">
        <span>Register New User Account</span>
        <form action="#" th:action="@{/register}" th:object="${user}" method="post">
            <div>
                <input type="text" th:field="*{username}" placeholder="Name" id="name" class="login" required>

            </div>
            <div>
                <input type="email" th:field="*{email}" placeholder="Email" id="email" class="login" required>
                <div><span th:if="${exists}"  th:text="${exists}" class="errorText"></span></div>
            </div>
            <div>
                <input type="password" th:field="*{password}" placeholder="Password" id="password" class="login"  required>
<!--                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errorText"></span>-->
            </div>
            <div>
                <input type="password" th:field="*{passwordRepeat}" placeholder="Repeat Your Password" id="confirm" class="login"  required>
                <div><span th:if="${!user.isEquals}"  th:text="${passError}" class="errorText" ></span></div>
            </div>
            <button type="submit" value="Register" id="register" class="mt-4 mb-1 button">Register</button>
        </form>
    </div>
</div>

<div th:replace="footer::footer"></div>
 
    </body>
</html>
