<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="head::head"></div>

<body>
<nav th:replace="navbar::navbar"></nav>

    <div class="row">
        <div class="col text-center">
            <h1 class="mb-5">Account Creation Successful</h1>
            <h3 th:text="${user.name} + ', welcome to CyberSomm!'"></h3>
        </div>
    </div>


<script type="text/javascript" src="../static/js/contact.js"></script>
<div th:replace="footer::footer"></div>

</body>
</html>