<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="head::head('Wine Information')"></div>
<!--<link rel="stylesheet" th:href="@{/css/*.css}">-->
<body>

<nav th:replace="navbar::navbar"></nav>

<div class="row">
    <div class="col mx-auto text-center">
        <h1>Wine Information</h1>
        <div class="">
            <h2 th:if="${wine.getName()}" th:text="${wine.getName()}"></h2>
            <div class="producerText" th:text="${wine.getProducer()}"></div>
            <div class="vintageText" th:text="${wine.getVintage()}"></div>
            <div class="varietalText" th:text="${wine.getVarietal()}"></div>
            <div class="regionText" th:text="${wine.getRegion()}"></div>
            <div class="priceText"  th:text="'$ ' + ${wine.getPrice()}"></div>

        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h4>Available at these fine vendors:</h4>
            <ul th:each="vendor : ${vendors}">
                <li th:text="${vendor.name} + ' located in ' + ${vendor.city} + ' ' + ${vendor.state} + ', ' + ${vendor.country}"></li>
            </ul>

        </div>
    </div>
</div>




<div th:replace="footer::footer"></div>
<!--        <script type="text/javascript" th:src="@{/js/*.js}"></script>-->
</body>
</html>
